@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
:root {
  --bg-primary: #fff4e2;
  --font-family-primary: "Inter", sans-serif;
  --primary-color: #e7720bff;
  --secondary-color: #fcf5ebff;
  --accent-color: rgb(146, 3, 212);
  --primary-gray-color: rgb(135, 134, 134);
  --box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

* {
  margin: 0;
  padding: 0;
}

body {
  background: var(--bg-primary);
  box-sizing: border-box;
}

.container {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 20px;
  padding: 10px 20px;
}

.column1 {
  display: grid;
  grid-template-rows: 3fr 1fr;
  padding-left: 20%;
}

.logo {
  padding: 40px 0 0 40px;
}
.logo img {
  width: 70px;
  display: block;
}

#text_field {
  background-color: transparent;
  border: none;
  font-size: 2rem;
  font-family: var(--font-family-primary);
  padding-top: 15%;
  outline: 0;
  width: 680px;
  color: rgb(122, 60, 7);
}

textarea::placeholder {
  color: var(--primary-gray-color);
}

.warning {
  display: flex;
  gap: 2px;
  margin-bottom: 16px;
}

.text_warning {
  font-size: 0.75rem;
  font-family: var(--font-family-primary);
  color: var(--primary-gray-color);
}

.btn {
  padding: 24px;
  border-radius: 24px;
  font-size: 1rem;
  font-family: var(--font-family-primary);
  width: 328px;
  cursor: pointer;
  transition: all 0.8s ease;
}

.button_action {
  display: flex;
  gap: 24px;
}
.button_action .cript {
  background-color: var(--primary-color);
  border: 2px solid var(--primary-color);
  color: var(--bg-primary);
  margin-right: 24px;
}

.button_action .cript:hover {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
  box-shadow: var(--box-shadow);
}

.button_action .descript {
  border: 2px solid var(--primary-color);
  color: var(--primary-color);
  background-color: var(--secondary-color);
}

.button_action .descript:hover {
  color: var(--accent-color);
  border-color: var(--accent-color);
  box-shadow: var(--box-shadow);
}

.column2 {
  height: 82vh;
  width: 400px;
  background-color: #fff;
  border-radius: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 1px 2px 5px var(--primary-gray-color);
  padding-top: 30px;
  position: relative;
  margin: -50px 20px 30px 0;
}

.img_search {
  max-width: 300px;
  padding-top: 40%;
}

.no_msg_text {
  max-width: 300px;
  font-family: var(--font-family-primary);
  text-align: center;
  color: var(--primary-gray-color);
  font-size: 1rem;
}

.no_msg_text h2 {
  font-size: 1.5rem;
  margin-bottom: 16px;
  color: #343a40;
}

.p_style {
  font-size: 1.3rem;
  color: var(--primary-gray-color);
  text-align: left;
}

.btn_copy {
  background: transparent;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  display: none;
  position: absolute;
  bottom: 75px;
  right: 9%;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.new_p_style {
  font-family: var(--font-family-primary);
}

.__footer {
  background-color: var(--primary-color);
  text-align: center;
  padding: 10px;
  color: var(--secondary-color);
  position: fixed;
  bottom: 0;
  width: 100%;
  font-family: var(--font-family-primary);
}

@media (max-width: 1025px) {
  .container {
    grid-template-columns: 1fr;
    gap: 65px;
    padding: 0 40px 50px;
  }

  .column1 {
    grid-template-rows: 7fr 1fr;
    padding-left: 0;
  }

  #text_field {
    font-size: 1.5rem;
    width: auto;
  }

  .buttons {
    padding-left: 0px;
  }

  .warning {
    margin-bottom: 10px;
  }

  .btn {
    width: 100%;
  }

  .button_action .cript {
    margin-right: 0;
  }

  .column2 {
    height: fit-content;
    width: 100%;
    padding-top: 5px;
    margin: inherit;
  }

  .img_container {
    display: none;
  }

  .no_msg_text {
    max-width: fit-content;
    padding: 20px 5px;
  }

  .no_msg_text h2 {
    font-size: 1.2rem;
  }

  .no_msg_text p {
    font-size: 1.2rem;
  }

  .btn_copy {
    width: 90%;
    right: 5%;
  }
}

@media (max-width: 540px) {
  .button_action {
    flex-direction: column;
    gap: 10px;
  }

  .column1 {
    grid-template-rows: 2fr 1fr;
  }

  .container {
    gap: 35px;
  }
}
